
.axis-row {
    font-size: 1.1em;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.grid-time-axis-label {
    margin: auto;
}

.grid-time-label-box {
    flex: 1; 
}

.habit-list-header-label {
    font-size: 20px;
    font-weight: 600; 
    margin: .3em .5em .3em .5em; 
}