.grid-time-axis-label {
    margin: auto;
}

.grid-time-axis-month {
    margin-top: .4em;
    font-weight: 500;
    color: rgba(70, 70, 70, .6); 
}

.grid-time-axis-day {
    font-weight: 700;
    color: rgba(45, 45, 45, .8); 
}

.grid-time-axis-day-of-week {
    font-weight: 500;
    color: rgba(70, 70, 70, .6); 
    letter-spacing: .05em;
}

.grid-time-label-box {
    padding: .2em .2em 0 0;
    flex-grow: 1;
    flex-basis: 0;
}

.grid-time-label-box:last-child {
    padding: .2em 0 0 0;
}

.axis-row {
    padding: .5em 0 0 .5em; 
}

.shift-control {
    color: rgb(177, 178, 182);
    font-size: 1.75em;
}

.habit-card {
    padding: 1em; 
}

.habit-card-list {
    padding: .2em; 
}

.habit-table-viz-grid {
    padding-top: .2em; 
    padding-left: .5em;
}

/* .habit-row-viz {
    background: white;
} */

.single-week-habit-row {
    margin-bottom: 2px;
}


/* 

.habit-grid {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    box-sizing: content-box;
}

.habit-grid-cell {
    padding: 1px;
    box-sizing: border-box;
    display: flex;
}

.habit-grid-cell-fillable {
    flex: 1; 
    border-radius: 50%;
}

.header-text {
    margin-top: .5em; 
    margin-bottom: 0; 
    font-size: 2vw; 
    font-weight: 100;
    color: white; 
    text-align: center;
}

.header-text-sub {
    margin-top: .25em; 
    margin-bottom: 0;
    color: white; 
    text-align: center;
    opacity: .65;
}

.dynamic-row {
    display: flex;
    align-content: flex-start; 
    box-sizing: content-box;
}

.habit-grid {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    box-sizing: content-box;
}

.habit-name-labels {
    color: rgb(177, 178, 182); 
    font-size: 20px;
    text-align: right;
    margin: 0 auto; 
}

:not(.single-week-habit-row) + .single-week-habit-row {
    margin-top: 2em; 
}




circle {
    stroke: #2c2c2c;
    stroke-width: .5;
    opacity: 80%;
}

*/

html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    background-attachment: fixed;
}

body {
    background: transparent; 
} 
